        .top:before {
            content: "";
            position: fixed;
            left: 0;
            right: 0;
            z-index: -1;
            background-image: url("background.jpg");
            background-size: cover;
            height: 520px;
            -webkit-filter: blur(5px);
        }
        .top {
            left: 0;
            right: 0;
            z-index: 0;
        }
        .content {
            width: 800px;
            margin: 0 auto;
            color: white;
        }
        p.login{
            color: white;
            font-family: Helvetica, Ariel, sans-serif;
            padding-right: 50px;
            text-align: right;
        }
        h1.logo {
            color: white;
            text-transform: uppercase;
            font-family: Helvetica, Ariel, sans-serif;
            font-size: 45px;
            text-shadow: 4px 4px #000;
            padding-right: 50px;
            text-align: right;
        }
        .top img {
            padding: 15px 0px 0px 15px;
        }
        body {
            font-family: Helvetica, Ariel, sans-serif;
            margin: 0;
            padding: 0;
        }
        .topbar {
            background: black;
            background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
            height: 500px;
            width: 100%;
            overflow: hidden;
        }
        .dropdown {
            float: right;
            overflow: hidden;
        }
        .dropdown .dropbtn {
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            padding: 14px 16px;
            background-color: inherit;
        }
        .container a:hover,
        .dropdown:hover .dropbtn {
            background-color: red;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }
        .dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }
        .dropdown-content a:hover {
            background-color: #ddd;
        }
        .dropdown:hover .dropdown-content {
            display: block;
        }
        .topcontentpad {
            padding-right: 100px;
            padding-left: 100px;
        }
        .container1 {
            background-color: rgb(2, 2, 31);
            width: 100%;
            height: 150px;
            padding: 10px 0px 0px 10px;
        }
        .h1 {
            font-size: 32px;
        }
        .container2 {
            background-color: rgb(2, 18, 38);
            width: 100%;
            height: 400px;
            padding: 10px 0px 0px 10px;
        }
        
        .container2show{
            background-color: rgb(0, 26, 31);
            width: 100%;
            height: 458px;
            padding: 10px 0px 0px 10px;            
        }
        
        .container2mission{
            background-color: rgb(0, 26, 31);
            width: 100%;
            height: 650px;
            padding: 10px 0px 0px 10px;
            text-indent: 50px;
            line-height: 1.8em;
        }
        
        .container2staff{
            background-color: rgb(0, 26, 31);
            width: 100%;
            height: 550px;
            padding: 10px 0px 0px 10px;      
        }
        
        .container2mission img{
            float: right;
            padding-left: 5px;
        }
        .container2member{
            background-color: rgb(2, 18, 38);
            width: 100%;
            height: 1020px;
            padding: 10px 0px 0px 10px;
            text-indent: 50px;
            line-height: 1.8em;
        }
        
        .container2auditions{
            background-color: rgb(2, 18, 38);
            width: 100%;
            height: 470px;
            padding: 10px 0px 0px 10px;
            text-indent: 50px;
            line-height: 1.8em;
        }
        
        .container2email{
            background-color: rgb(2, 18, 38);
            text-align: center;
            width: 100%;
            height: 250px;
            padding: 10px 0px 0px 10px;
        }
        
        .container3 {
            background-color: rgb(0, 26, 31);
            width: 100%;
            height: 450px;
            padding: 10px 0px 0px 10px;
        }
        
        .container3auditions{
            background-color: rgb(0, 26, 31);
            width: 100%;
            height: 350px;
            padding: 10px 0px 0px 10px;
        }
        .container3 img {
            float: right;
            padding-left: 5px;
        }
        .container4 img {
            float: left;
            padding-right: 10px;
            width: 300px;
        }
        .container4 {
            background-color: rgb(3, 54, 38);
            width: 100%;
            height: 500px;
            padding: 10px 0px 0px 10px;
        }
        .container4volunteer{
            background-color: rgb(3, 54, 38);
            width: 100%;
            height: 760px;
            padding: 10px 0px 0px 10px;
        }
        .container4volunteer img{
            float: right;
            padding-left: 10px;
            width: 300px;
        }
        .footer {
            background-color: rgb(0, 0, 0);
            width: 100%;
            height: 100px;
            padding: 10px 0px 0px 10px;
            text-align: center;
            color: white;
        }
        .footerleft {
            float: left;
            width: 50%;
        }
        .footerright {
            float: right;
            width: 50%;
            line-height: .35em;
        }
        
        .staff1{
            width: 33.33%;
            text-align: center;
            float:left;
            margin-bottom: 10px;
        }
        .staff2, .staff3{
            width: 33.33%;
            text-align: center;
            float:right;
            margin-bottom: 10px;
        }
        
        .show1{
            width: 33.33%;
            text-align: center;
            float:left;
        }
        .show2, .show3{
            width: 33.33%;
            text-align: center;
            float:right;
        }

        .show1 img, .show2 img, .show3 img{
            width: 230px;
            height: 340px;
        }